<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>Projeto Tabuada</title>

</head>
<body>

<h1>Projeto Tabuada</h1>
<p> Resultado da tabuada do número <%= numero %></p>
<table>
	<thead>
		<tr>
			<th>Operacao</th>
			<th>Resultado</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i=1; i<= 10; i++) { %>
	<tr>
		<td><%= numero %> x </td>
		<td><%=numero * i %></td>
	</tr>
     <% } %>		  
	</tbody>

</table>

</form>
</body>
</html>